body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 430px;
    min-height: 932px;
    height: 100vh;
    margin: auto;
    overflow: auto;
}

.header img {
    max-width: 208px;
    min-height: 208px;
    margin-top: 21px;
}

.signUp {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 20px;
}

.signUppara {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 20px;
    margin-top: 26px;
    color: #858585;
}


.email-header {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: center;
    color: black;
    margin-top: 45px;
    margin-left: 15px;
}

.email-para {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    margin-left: 15px;
    border-color: #f6d441;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.forget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgetPassword {
    align-self: end;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #858585;
    margin-top: 16px;
    margin-right: 10px;
}

.guest-ref {
    color: black;
}

.fa-facebook {
    color: blue;
    font-size: 40px;
}

.fa-envelope {
    font-size: 40px;
}

.button {
    background-color: #F6D441;
    color: black;
    width: 378px;
    height: 60px;
    border-radius: 10px;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

.icons {
    display: flex;
    justify-content: space-around;
}

/* Page one*/
.image-heading {
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.image-description {
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.image-dollars {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #858585;
    margin-top: -30px;
}

.welcome {
    font-family: "OpenSans";
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    align-self: start;
    margin-left: 20px;
}

.tools.image {
    width: 100%;
    max-width: 378px;
}

.search-bar-text {
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;

}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 20px;
    Width: 378px;
    Height: 60px;
    justify-content: space-between;
    margin-left: 10px;
}

.search-bar input {
    border: none;
    outline: none;
    margin-left: 10px;
}

.category-header {
    width: 378px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "OpenSans";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;

}

.category-heading {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.categories-para {
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.seeAll {
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #858585;
}


.images-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    margin-right: 20px;

}

.image-description {
    text-align: center;
}

.hammer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    width: 377px;
    align-items: center;
    margin-left: 26px;
    background: #FBE9A0;
    margin-bottom: 15px;
}

header {
    width: 403px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.category-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &.item-ellipsis {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.category-item {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 2px 5px #f6d441;
    background-color: #F6D441;
    overflow: hidden;
}

.category-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.fa-ellipsis {
    font-size: 2rem;
    color: #333;
}

/* page-two */
.up {
    justify-content: space-between;
}

.main-section {
    margin-top: 25px;
}

.container {
    display: flex;
    align-items: center;
    width: 381px;
    justify-content: space-around;
    background-color: #F6D441;
    margin-top: 20px;

    &.further {
        font-family: "OpenSans";
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }

    &.imagehover:hover {
        background-color: #FBE9A0;

    }
}

.container img {
    margin-left: 20px;
    width: 53px;
    height: 53px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    width: 371px;
    height: 65px;
}

.footer span {
    cursor: pointer;
}

.fa-house,
.fa-user,
.fa-cart-shopping,
.fa-gear {
    font-size: 26px;
}

.house {
    width: 66px;
    height: 66px;
    background-color: #F6D441;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.arrow-button {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fa-bell {
    font-size: 32px;
}

.categories {
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}


/* third page */
.hammer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 378px;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #000;
    position: relative;
}

.hammer-container::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #FF0000;
    pointer-events: none;
}

.thirdpage-image {
    width: 83px;
    height: 50px;
}

.hammer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 378px;
    margin-top: 15px;
}

.hammer-container>div,
.hammer-container>aside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hammer-container-images {
    justify-content: flex-start;
}

.hammer-container div,
.hammer-container aside {
    text-align: center;
}

.image-description,
.image-dollars,
p {
    margin: 5px 0;
}

aside p:last-child {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

/* fourth page */

.loan-return-headings {
    display: flex;
    justify-content: space-around;
    width: 400px;
    border-bottom: 2px solid #000;
    margin-left: 20px;
}

/* five page */

.rent-message-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/*page 6*/
.product-image {
    width: 378px;
    margin-top: 34px;
    background-color: #FBE9A0;
}

.product-details,
.rating-and-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-btn {
    padding: 5px 10px;
    cursor: pointer;
}

#quantityInput {
    text-align: center;
}

.availability-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

.priceDrill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly;
    margin-top: 15px;
}

.priceDrill-para {
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 15px;
}

.product-details-heading {
    font-family: "OpenSans";
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    align-self: start;
    margin-left: 20px;
}

#quantityInput {
    width: 50px;
}

.flatpickr-mobile {
    margin-top: 25px;
}

.drill-page {
    padding: 20px;
}

.original-price {
    text-decoration: line-through;
}

#calendarContainer {
    height: 5px;
    background-color: #858585;
}