<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="/components/components.css">
    <script src="https://kit.fontawesome.com/20b631fd69.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&display=swap"
        rel="stylesheet">
</head>

<body>
    <section>
        <div class="forget">
            <a class="forgetPassword" href="#">Forget password?</a>
            <a href="./pagOne.html" class="button">Sign In</a>
        </div>
    </section>
    <section>
        <div class="category-section item">
            <div class="category-item"><a href="./pageTwo.html">
                    <img src="/images/excavator.png" alt="Category 1" class="category-image"></a>
            </div>
            <p class="categories-para">Construction</p>
        </div>
    </section>
    <section>
        <div class="hammer-container">
            <div class="hammer-container-images">
                <img src="/images/page1hammer.png" alt="Second Item">
            </div>
            <div>
                <h2 class="image-heading">Hammer</h2>
                <p class="image-description">Set of tools to put up shelf</p>
            </div>
            <div>
                <p class="image-dollars">$4/per day</p>
            </div>
        </div>
    </section>
    <section>
        <article class="container">
            <h2 class="container further">Ladders</h2>
            <a class="container imagehover" href="./pageThree.html"><img src="/images/ladder.png"
                    alt="Construction Image"></a>
        </article>
    </section>
    <section>
        <article class="hammer-container">
            <div class="hammer-container-images">
                <img src="/images/screw-driver.png" class="thirdpage-image" alt="Second Item">
            </div>
            <div>
                <h2 class="image-heading">Screw Driver</h2>
                <p class="image-description">Set of tools to put up shelf</p>
                <p><i class="fa-solid fa-sort"></i>1</p>
            </div>
            <aside>
                <p class="image-dollars">$6</p>
                <a href="./pageSix.html">
                    <p>More Information</p>
                </a>
            </aside>
        </article>
    </section>
    <section>
        <article class="hammer-container">
            <aside class="hammer-container-images">
                <img src="/images/screw-driver.png" class="thirdpage-image" alt="Second Item">
            </aside>
            <div>
                <h2 class="image-heading">Screw Driver</h2>
                <p class="image-description">Set of tools to put up shelf</p>
                <p>Booking Date 14/02/2023</p>
            </div>
            <div>
                <p class="image-dollars">$6</p>
            </div>
        </article>
    </section>
    <section>
        <article class="hammer-container">
            <aside class="hammer-container-images">
                <img src="/images/page1hammer.png" class="thirdpage-image" alt="Second Item">
            </aside>
            <div>
                <h2 class="image-heading">Screw Driver</h2>
                <p class="image-description">Set of tools to put up shelf</p>
                <p>$2.33</p>
            </div>
            <div>
                <p class="image-dollars"><i class="fa-solid fa-angle-left"></i>1 Months</p>
            </div>
        </article>
    </section>
    <footer>
        <div class="house">
            <a href="./pagOne.html"><span class="home-icon"><i class="fa-solid fa-house"></i></span></a>
        </div>
        <a href="./pageFour.html" class="sign-in-icon"><i class="fa-regular fa-user"></i></a>
        <a href="./pageFive.html" class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></a>
        <a class="settings-icon"><i class="fa-solid fa-gear"></i></a>
    </footer>
</body>

</html>